


<div class="container">
<tr>
<td>Name: <%= @user.name %> </td>
<br />
<td>Mobilenumber: <%=@user.mobilenumber %></td>
<br/>
<td> Adhaarnumber: <%=@user.adhaarnumber %></td>
<br/>
<td>Pincode: <%=@user.pincode %></td>
<br/>
<td>Martialstatus: <%=@user.martialstatus %></td>
<br/>
<td>Languages: <%=@user.languages %></td>
<br/>
<td><%=image_tag @user.image , width: '100%' %></td>
<br/>


</tr>

</div>
