<%= form_for(@city) do |f| %>
<div class="container">
<div class="form-group">
<div class="label">

<%= f.label :name %>
<%= f.text_field :name , class:"form-control" %>

</div>
</div>
</div>

<div class="container">
<div class="form-group">
<div class="actions text-center">

<%= f.submit :submit  , class: " btn btn-primary"%>
</div>
</div>
</div>


<% end %>

<br />
<br />

<%= link_to 'index' , cities_path  , class: "btn btn-primary"%>
